.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.menu,
.quiz,
.score {
  width: 500px;
  height: 500px;
  background: lightblue;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu button,
.score button {
  display: block;
  width: 70%;
  min-width: 300px;
  border: none;
  background-color: white;
  padding: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  border-radius: 0.25rem;
  font-size: 1.25rem;
}

.quiz button {
  display: block;
  width: 70%;
  min-width: 300px;
  border: none;
  background-color: white;
  padding: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  border-radius: 0.25rem;
}

button:active {
  background-color: orange;
  color: white;
}
